.comments {
  background: $color-secondary;
  // height: 91vh;
  &__title {
    text-align: center;
    padding-top: 35px;
  }
  &__customer {
    display: flex;
    justify-content: space-around;
  }
}

@media all and (max-width: 425px) {
  .customer {
    width: 100vw !important;
    margin: 0 !important;
  }
  .comments__customer {
    flex-direction: column;
    align-items: center;
  }
}

.customer {
  // border: 1px solid $color-dark;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 45px;
  &__image img {
    @include rounded-image;
  }
  &__testimony-title {
    // font-family: 'Anton', sans-serif;
    text-align: center;
    height: 10rem;
    display: flex;
    align-items: center;
    // @include border;
  }
  &__testimony-text {
    width: 70%;ont-size: 19px;
    @include font-size(2rem,1.6rem,1.2rem,1.2rem);
    text-align: center;
    // padding: 2rem;
    // @include border;
  }
  &__name {

  }
  &__testimony-date {

  }
}
