.favourites-banner {
  @include banner("test_02.jpg");
}

.favourites {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56vh;
}

.favourites .trip {
  @include card-trip(450px, 300px);
}


// .trip {
//   background: image-url("image.jpg") right top / cover;
//   // , image-url('image.jpg') right top / cover; // works
//   // height: 250px;
//   // width: 20vw;
//   // padding: 4rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
//   align-items: center;
//   a {
//     text-decoration: none;
//   }
//   &__hidden-description {
//     display: none;
//   }
//   &__title {
//
//   }
//   &__link {
//     @include button;
//     p {
//       margin: auto;
//     }
//   }
// }
