.favourites-banner {
  @include banner("test_02.jpg");
}

.favourites {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56vh;
}

// JavaScript classes
.trip__description--block {
  display: block;
}

.trip__description--hidden {
  display: none;
}

// Extra-large 4K
@media all and (min-width: 1441px) {
  .favourites .trip {
    @include card-trip($width * 2, $height * 2);
  }
}
// Large Desktop
@media all and (min-width: 769px) and (max-width: 1440px) {
  .favourites .trip {
    @include card-trip($width * 1.2, $height * 1.2);
  }
}
// Tablette
@media all and (min-width: 426px) and (max-width: 768px) {
  .favourites .trip {
    @include card-trip($width, $height);
  }
}
// Smartphone
@media all and (max-width: 425px) {
  .favourites {
    flex-direction: column;
    height: 100%;
  }
  .favourites .trip {
    @include card-trip(90%, $height);
    display: flex;
    justify-content: center;
  }
}
