.favourites-banner {
  @include banner("test_02.jpg");
}

.favourites {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56vh;
}

.trip {
  background: image-url("image.jpg") right top / cover;
  // , image-url('image.jpg') right top / cover; // works
  height: 312px;
  width: 489px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  a {
    text-decoration: none;
  }
  &__hidden-description {
    display: none;
  }
  &__title {

  }
  &__link {
    border: 2px solid $color-primary;
    height: 40px;
    width: 165px;
    color: $color-primary;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    margin: 15px;
    display: flex;
    p {
      margin: auto;
    }
  }
}
