.slogan-banner {
  background-color: $color-secondary;
  height: 40vh;
  &__title {
    padding-top: 10vh;
    text-align: center;
    margin: 0;
  }
  &__features {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    margin: auto;
  }
  &__message {
    width: 50vw;
    text-align: center;
    margin: auto;
  }
}

.feature {
  display: flex;
  &__image {

  }
  &__text {
    width: 12vw;
    font-weight: bold;
    color: $color-dark;
    font-size: 1.4em;
    text-align: center;
  }
}
