.slogan {
  min-height: 100vh;
  background-color: $color-secondary;
  &__quote {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,0.1) 0%, rgba(9,9,121,0.3) 56%, rgba(2,0,36,1) 100%), image-url("homepage/main-banner.jpg") right top / cover;
    background-position: 0px -200px;
    height: 50vh;
  }
  &__content {
    min-height: 40vh;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__title {
      padding: 2rem;
      text-align: center;
      margin: 0;
    }
    &__features {
      display: flex;
      justify-content: space-around;
      width: 50vw;
      margin: auto;
    }
    &__message {
      font-size: var(--p);
      width: 50vw;
      text-align: center;
      margin: auto;
    }
  }
}

.quote {
  &__text {
    @include font-size(4rem,3rem,2.5rem,1.8rem);
    color: $color-primary;
    text-align: right;
    padding-right: 10vw;
    padding-top: 20vh;
    text-shadow: 2px 2px black;
  }
  &__author {
    @include font-size(3rem,2rem,1.8rem,1.4rem);
    color: $color-primary;
    text-align: right;
    font-size: 1.5rem;
    font-style: italic;
    padding-right: 10vw;
  }
}

.feature {
  display: flex;
  &__image img {
    @media all and (min-width: 1442px) {
      width: 100px;
    }
    @media all and (min-width: 426px) and (max-width: 1441px) {
      width: 65px;
    }
    @media all and (max-width: 425px) {
      width: 55px;
    }
  }
  &__text {
    width: 12vw;
    font-weight: bold;
    color: $color-dark;
    @include font-size(2.4rem,1.8rem,1.6rem,1.4rem);
    text-align: center;
  }
}

.slogan__content__features {
  @media all and (max-width: 425px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
