.team-banner {
  @include banner("test_02.jpg")
}

.member-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $color-secondary;
  height: 56vh;
  // padding: 0 190px;
}

@media all and (max-width: 425px) {
  .member-card {
    width: 100vw !important;
    margin: 0 !important;
  }
  .member-grid {
    flex-direction: column;
    align-items: center;
    height: auto;
    @include border;

  }
  .member-card {
    display: flex;
    justify-content: space-around;
  }
}

.member-card {
  display: flex;
  flex-direction: column;
justify-content: space-around;
  align-items: center;
  height: 70%;
  &__image img {
    @include rounded-image;
  }
  &__name {

  }
  &__social-link a img {
    height: 50px;
  }
  &__quote {

  }
}

// @media all and (max-width: 425px) {
//   .member-grid {
//     display: flex;
//     flex-direction: column;
//     // height: 100%;
//   }
//   .member-card {
//     // @include card-trip(90%, $height);
//     display: flex;
//     justify-content: center;
//   }
// }
