///////////////
/// GENERAL ///
///////////////

html,body {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  color: $color-primary;
  letter-spacing: 0.05em;
  text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
}

h2 {
  font-size: 2rem;
  color: $color-dark;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

hr {
  width: 20%;
  color: $color-tertiary;
}
