///////////////
/// GENERAL ///
///////////////

html,body {
  margin: 0;
  font-family: 'Raleway', sans-servif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1 {
  @include title(62px);
}

h2 {
  font-size: 2em;
  color: $color-dark;
}

h3 {
  @include title(20px);
}

h4 {

}

hr {
  width: 20%;
  color: $color-tertiary;
}
