// // / Font-size Media queries
// @media screen and (max-width: 576px) {
//   :root {
//     --h1: 2rem;
//     --h2: 1.8rem;
//     --h3: 1rem;
//   }
// }
//
// @media screen and (min-width: 720px) {
//   :root {
//     --h1: 2rem;
//     --h2: 1.8rem;
//     --h3: 1.8rem;
//   }
// }

:root {
  @media all and (min-width: 1442px) {
    --h1: 8rem;
    --h2: 4.4rem;
    --h3: 3rem;
    --p: 1rem;
  }
  @media all and (min-width: 769px) and (max-width: 1441px) {
    --h1: 3rem;
    --h2: 1.8rem;
    --h3: 1.6rem;
    --p: 1rem;
  }
  @media all and (min-width: 426px) and (max-width: 768px) {
    --h1: 3.5rem;
    --h2: 1.8rem;
    --h3: 1rem;
    --p: 1rem;
  }
  @media all and (max-width: 425px) {
    --h1: 2rem;
    --h2: 1.8rem;
    --h3: 1rem;
    --p: 1rem;
  }
}

html {
  font-size: 10px;
}
