<a class="anchor" id="comments-anchor"></a>
<section class="comments">
  <div class="comments__title">
    <h2>ils nous ont fait confiance</h2>
  </div>
  <div class="comments__customer">
    <div class="customer">
      <div class="customer__image">
        <%= image_tag '/assets/profil/profil1.jpg' %>
      </div>
      <div class="customer__testimony-title">
        <h3>Émerveillement assuré</h3>
      </div>
      <div class="customer__testimony-text">
        <p>“Découverte de Sapa avec Thiet notre guide, exceptionnel comme Sapa. Il s’exprime
          avec aisance en français ce qui nous a permis de comprendre beaucoup de sujets sur
          le Vietnam. Nous avons marché ensemble hors des lieux touristiques, nous avons rencontré
          des habitants de divers hameaux et villages, rencontre avec la vraie vie et la vraie
          nature. Nous le remercions sincèrement. Thiet a des projets fantastiques, vous pouvez
          lui faire confiance. Émerveillent assuré.”
        </p>
      </div>
      <div class="customer_name">
        <p>Nicolas M.</p>
      </div>
      <div class="customer_testimony-date">
        <p>Novembre 2018</p>
      </div>
    </div>
    <div class="customer">
      <div class="customer__image">
        <%= image_tag '/assets/profil/profil2.jpg' %>
      </div>
      <div class="customer__testimony-title">
        <h3>comme à la maison</h3>
      </div>
      <div class="customer__testimony-text">
        <p>“Hôtel simple et propre, exceptionnel pour son accueil et sa localisation.
          Les chambres sont tout confort, le propriétaire est à notre écoute et organise
          si on le souhaite notre séjour, un trek ou encore nous donne des cours de cuisine.
          J'ai réellement envie d'y revenir, on a très vite l'impression d'être comme
          à la maison.”
        </p>
      </div>
      <div class="customer_name">
        <p>Nicolas M.</p>
      </div>
      <div class="customer_testimony-date">
        <p>Novembre 2018</p>
      </div>
    </div>
    <div class="customer">
      <div class="customer__image">
        <%= image_tag '/assets/profil/profil3.jpg' %>
      </div>
      <div class="customer__testimony-title">
        <h3>je recommande vivement cette agence</h3>
      </div>
      <div class="customer__testimony-text">
        <p>“Les propriétaires sont des personnes adorables et très accueillantes.
          Thiet, le gérant, est un guide francophone proposant de très bons services
          pour visiter les alentours de Sapa, les ethnies minoritaires, les marchés
          (en dehors des sentiers touristiques). S’est une personne très investie
          dans la vie des montagnards afin de les aider à améliorer leur conditions
          de vie tout en conservant leurs traditions. Je recommande vivement
          cette agence pour tous les amoureux de découvertes.”
        </p>
      </div>
      <div class="customer_name">
        <p>Nicolas M.</p>
      </div>
      <div class="customer_testimony-date">
        <p>Novembre 2018</p>
      </div>
    </div>
  </div>
</section>
