<a class="anchor" id="favourites-anchor"></a>
<section class="favourites-banner">
  <div class="favourites-banner__title">
    <h1>nos coups de<br> coeurs</h1>
  </div>
  <div class="favourites-banner__subtitle">
    <p>Message coup de coeur</p>
  </div>
</section>

<section class="favourites">
    <div class="trip">
      <div class="trip__hidden-description">
        <p>En immersion compète durant 5 jours, profitez du calme et de la beauté
          de vallées rizicoles du Nord au Sud de Sapa.</p>
      </div>
      <div class="trip__title">
        <h3>séjour immersion</h3>
      </div>
      <div class="trip__link">
        <%= link_to "En savoir plus", root_path %>
      </div>
    </div>

  <div class="trip">
    <div class="trip__hidden-description">
      <p>2 jours de randonnée pour  découvrir toutes les richesses naturelles
        et culturelles de la région.</p>
    </div>
    <div class="trip__title">
      <h3>à la découverte des ethnies</h3>
    </div>
    <div class="trip__link">
      <%= link_to "En savoir plus", root_path %>
    </div>
  </div>
  <div class="trip">
    <div class="trip__hidden-description">
      <p>3 jours de randonnée pour aller explorer les paysages somptueux à la
        limites de la région et rencontrer les ethnies minoritaires vivants
        dans les villages les plus reculés.</p>
    </div>
    <div class="trip__title">
      <h3>au coeur des peuples</h3>
    </div>
    <div class="trip__link">
      <%= link_to "En savoir plus", root_path %>
    </div>
  </div>
</section>
