<section class="main-banner">
  <div class="main-banner__quote">" Voyager sans rencontrer l’autre,<br> ce n’est pas voyager, c’est se déplacer "</div>
  <p class="main-banner__author">Alexandra David-Nee</p>
</section>
