<nav class="nav">
  <div class="nav__logo">
    <%= image_tag '/assets/navbar/logo.jpg' %>
    <h1>HAPPY TRAVEL<br> FAMILY</h1>
  </div>
  <ul class="nav__item">
    <a href="/#slogan-anchor"><li class="btn">NOS VALEURS</li></a>
    <a href="/#comments-anchor"><li class="btn">LIVRE D'OR</li></a>
    <a href="/#favourites-anchor"><li class="btn">COUP DE COEUR</li></a>
    <a href="/#team-anchor"><li class="btn">L'EQUIPE</li></a>
    <%= link_to tour_path do %>
      <li class="btn">TOURS</li>
    <% end %>
  </ul>
</nav>
