<nav class="nav" id="navbar">
  <!-- <div class="nav__toggle"><i class="fa fa-bars" id="icon" onclick="menuToggle()"></i></div> -->
  <div class="nav__toggle" onclick="menuToggle()">MENU</div>
  <ul class="nav__items">
    <div class="nav__logo">
      <%= image_tag '/assets/navbar/logo.jpg' %>
    </div>
    <div class="nav__list">
      <a href="/"><li class="btn-nav">NOS VALEURS</li></a>
      <a href="/#comments-anchor"><li class="btn-nav">LIVRE D'OR</li></a>
      <a href="/#favourites-anchor"><li class="btn-nav">COUP DE COEUR</li></a>
      <a href="/#team-anchor"><li class="btn-nav">L'EQUIPE</li></a>
      <%= link_to tour_path do %>
        <li class="btn-nav">TOURS</li>
      <% end %>
    </div>
  </ul>
</nav>

<script>
  function menuToggle() {
    document.querySelector('.nav__list').classList.toggle('active');
    document.querySelector('.nav__items').classList.toggle('active');
  }
</script>
