<a class="anchor" id="slogan-anchor"></a>
<section class="slogan-banner">
  <h2 class="slogan-banner__title">familial, sur mesure et authentique !</h2><hr>
  <div class="slogan-banner__features">
    <div class="feature">
      <div class="feature__image">
        <%= image_tag '/assets/logo1.webp' %>
      </div>
      <h3 class="feature__text">Equipe locale & professionnelle</h3>
    </div>

    <div class="feature">
      <div class="feature__image">
        <%= image_tag '/assets/logo2.webp' %>
      </div>
      <h3 class="feature__text">Hors des sentiers battus</h3>
    </div>

    <div class="feature">
      <div class="feature__image">
        <%= image_tag '/assets/logo3.webp' %>
      </div>
      <h3 class="feature__text">Engagement pour un tourisme responsable<br> & durable</h3>
    </div>
  </div>
  <div class="slogan-banner__message">
    <p>La volonté d'Happy Familly Travel, c'est de mettre l'Humain au cœur de ses
      offres touristiques et de ses projets, pour vous offrir une expérience
      inoubliable d'échanges et de partages dans une ambiance résolument
      familiale ! Notre équipe mettra tout en œuvre pour que votre séjour au
      Vietnam corresponde à vos attentes et soit avant tout une aventure haute
      en couleur et en authenticité, dans le respect des populations locales.
      Pour cela, nous vous invitons à découvrir nos circuits au plus près des
      peuples sillonnant les magnifiques contrées du nord Vietnam !
    </p>
  </div>
</section>
