//////////////
/// MIXINS ///
//////////////

// @mixin btn {
//   border: 2px solid $color-primary;
//   height: 40px;
//   width: 165px;
//   p {
//     text-decoration: none;
//     color: red;
//   }
// }

@mixin title($size) {
  font-size: $size;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
  color: $color-primary;
}

@mixin banner($image) {
    // background: image-url('homepage/favourites-banner.jpg') right top / cover; // works
    background: image-url('homepage/#{$image}'); // works
    height: 35vh;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    &__title {
      text-align: center;
      h1 {
        padding: 45px;
        margin: 0;
      }
    }
    &__subtitle {
      margin: auto;
      background: rgba($color-secondary,.6);
      width: 60%;
      height: 25%;
    }
  }

@mixin rounded-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@mixin border {
  border: 1px solid red;
}

@mixin button {
  /// Display
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $color-primary;
  color: $color-primary;
  font-style: italic;
  font-weight: bold;
  & a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    background: $color-menu-hover;
    border-color: $color-menu;
    & a {
      color: $color-menu;
    }
  }
  @media screen and (max-width: 576px) {
    height: 10%;
    width: 40%;
    font-size: .8rem;
    margin: 1rem;
    padding: .2rem 0.4rem;
  }
  @media screen and (min-width: 720px) {
    height: 40px;
    width: 165px;
    font-size: 1.3rem;
    margin: 2rem;
    padding: .3rem 1.4rem;
  }
}

@mixin card-trip($width, $height) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), image-url("image.jpg") right top / cover;
  min-width: $width;
  min-height: $height;
  margin: 2rem;
  &__title {
    color: $color-primary;
  }
  &__link {
    @include button;
  }
  &__hidden-description {
    display: none;
  }
}
