//////////////
/// MIXINS ///
//////////////

@mixin title($size) {
  font-size: $size;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
  color: $color-primary;
}

@mixin banner($image) {
    // background: image-url('homepage/favourites-banner.jpg') right top / cover; // works
    background: image-url('homepage/#{$image}'); // works
    height: 35vh;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    &__title {
      text-align: center;
      h1 {
        padding: 45px;
        margin: 0;
      }
    }
    &__subtitle {
      margin: auto;
      background: rgba($color-secondary,.6);
      width: 60%;
      height: 25%;
    }
  }

@mixin rounded-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@mixin border {
  border: 1px solid red;
}

@mixin button {
  /// Display
  display: flex;
  justify-content: center;
  align-items: center;
  border: .2rem solid $color-primary;
  color: $color-primary;
  font-style: italic;
  font-weight: bold;
  & a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    background: $color-menu-hover;
    border-color: $color-menu;
    & a {
      color: $color-menu;
    }
  }
  @media all and (min-width: 1442px) {
    width: 35%;
    font-size: 2rem;
    margin: 2rem;
    padding: 1rem 1.4rem;
  }
  @media all and (min-width: 769px) and (max-width: 1441px) {
    width: 35%;
    font-size: 1.4rem;
    margin: 2rem;
    padding: 0.5rem 0.4rem;
  }
  @media all and (min-width: 426px) and (max-width: 768px) {
    width: 35%;
    font-size: 0.8rem;
    margin: 2rem;
    padding: 0.5rem 0.4rem;
  }
  @media all and (max-width: 425px) {
    width: 35%;
    font-size: 1rem;
    margin: 2rem;
    padding: 0.5rem 0.4rem;
  }
}

@mixin card-trip($width, $height) {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: $width;
  height: $height;
  margin: 2rem;
  &__title {
    color: $color-primary;
    z-index: 10;
  }
  &__link {
    @include button;
    z-index: 10;
  }
  &__description {
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    width: 100%;
    min-height: 40%;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    z-index: 10;
    & p {
      padding: 3rem;
    }
  }
}

// Mixin for specific font-size
@mixin font-size($extralarge,$large,$tablet,$phone) {
  @media all and (min-width: 1442px) {
      font-size: $extralarge;
  }
  @media all and (max-width: 1441px) and (min-width: 769px) {
      font-size: $large;
  }
  @media all and (max-width: 768px) and (min-width: 426px) {
      font-size: $tablet;
  }
  @media all and (max-width: 425px) {
      font-size: $phone;
  }
}
