/////////////////
/// VARIABLES ///
/////////////////

/// Colors ///
$color-primary: white;
$color-secondary: #F8F5EF;
$color-tertiary: #A8172E;
$color-dark: #1E1E40;
$color-menu-hover: #EAE5EB;
$color-menu: #726277;

/// Box sizing ///
$width: 300px;
$height: 200px;
