// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/// Border test ///
/// Copy @include border to check the size and position of an element ///

//////////////
/// FONTS ///
//////////////

@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Oswald');

//////////////
/// MIXINS ///
//////////////

// @mixin btn {
//   border: 2px solid $color-primary;
//   height: 40px;
//   width: 165px;
//   p {
//     text-decoration: none;
//     color: red;
//   }
// }

@mixin title($size) {
  font-size: $size;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
  color: $color-primary;
}

@mixin banner($image) {
    // background: image-url('homepage/favourites-banner.jpg') right top / cover; // works
    background: image-url('homepage/#{$image}'); // works
    height: 35vh;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    &__title {
      text-align: center;
      h1 {
        padding: 45px;
        margin: 0;
      }
    }
    &__subtitle {
      margin: auto;
      background: rgba($color-secondary,.6);
      width: 60%;
      height: 25%;
    }
  }

@mixin rounded-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@mixin border {
  border: 1px solid red;
}

/////////////////
/// VARIABLES ///
/////////////////

/// Colors ///
$color-primary: white;
$color-secondary: #F8F5EF;
$color-tertiary: #A8172E;
$color-dark: #000000;
$color-menu-hover: #EAE5EB;
$color-menu: #726277;

///////////////
/// GENERAL ///
///////////////

html,body {
  margin: 0;
  font-family: 'Raleway', sans-servif;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1 {
  @include title(62px);
}

h2 {
  font-size: 2em;
  color: $color-dark;
}

h3 {
  @include title(20px);
}

h4 {

}

hr {
  width: 20%;
  color: $color-tertiary;
}


///////////////
/// ANCHORS ///
///////////////

/// Put back sections' anchors ///
a.anchor  {
    display: block;
    position: relative;
    top: -95px;
    visibility: hidden;
}

//////////////
/// NAVBAR ///
//////////////

nav {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  background: $color-primary;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  -webkit-box-shadow: 0px 3px 9px -1px rgba(105,105,105,1);
  -moz-box-shadow: 0px 3px 9px -1px rgba(105,105,105,1);
  box-shadow: 0px 3px 9px -1px rgba(105,105,105,1);
  &__logo {
    display: flex;
    margin: auto 50px;
    img {
      width: 75px;
      height: 75px;
    }
    h1 {
      font-size: 2em;
    }
  }
  &__item {
    display: flex;
    margin: auto 50px;
    li {
      list-style: none;
      display: inline-block;
      // margin-left: 5vw;
    }
    a {
      text-decoration: none;
      font-size: 1.5em;
      color: $color-menu;
    }
  }
}

.btn {
  // @include border;
  padding: 5px 25px;
  &:hover {
    background: $color-menu-hover;
  }
}

////////////////
/// HOMEPAGE ///
////////////////

.main-banner {
  // background: #eb01a5;
  // background-image: url("homepage/main-banner.jpg"); /* fallback */
  background: rgb(0,212,255);
  // background: linear-gradient(93deg, rgba(0,212,255,0.2665441176470589) 0%, rgba(9,9,121,0.3393732492997199) 56%, rgba(2,0,36,1) 100%), image-url("homepage/main-banner.jpg");
  background: linear-gradient(90deg, rgba(0,212,255,0.1) 0%, rgba(9,9,121,0.3) 56%, rgba(2,0,36,1) 100%), image-url("homepage/main-banner.jpg") right top / cover;
  // background: linear-gradient(rgba(26,125,25, 0.4), rgba(19,56,48, 0.4)), url("image.jpg"); /* W3C */
  // background: image-url('homepage/main-banner.jpg') right top / cover; // works
  // background-image: image-url('homepage/main-banner.jpg'), linear-gradient(blue, red);
  background-position: 0px -200px;
  height: 60vh;
  // padding-right: 10vw;
  // padding-top: 10vh;
  &__quote {
    color: $color-primary;
    font-size: 2.5rem;
    text-align: right;
    padding-right: 10vw;
    padding-top: 20vh;
    text-shadow: 2px 2px black;
  }
  &__author {
    color: $color-primary;
    text-align: right;
    font-size: 1.5rem;
    font-style: italic;
    padding-right: 10vw;
    // @include border;
  }
}

.slogan-banner {
  background-color: $color-secondary;
  height: 40vh;
  &__title {
    padding-top: 10vh;
    text-align: center;
    margin: 0;
  }
  &__features {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    margin: auto;
  }
  &__message {
    width: 50vw;
    text-align: center;
    margin: auto;
  }
}

.feature {
  display: flex;
  &__image {

  }
  &__text {
    width: 12vw;
    font-weight: bold;
    color: $color-dark;
    font-size: 1.4em;
    text-align: center;
  }
}

.favourites-banner {
  @include banner("test_02.jpg");
}

.favourites {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56vh;
}

.trip {
  background: image-url("image.jpg") right top / cover;
  // , image-url('image.jpg') right top / cover; // works
  height: 312px;
  width: 489px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  a {
    text-decoration: none;
  }
  &__hidden-description {
    display: none;
  }
  &__title {

  }
  &__link {
    border: 2px solid $color-primary;
    height: 40px;
    width: 165px;
    color: $color-primary;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    margin: 15px;
    display: flex;
    p {
      margin: auto;
    }
  }
}

.team-banner {
  @include banner("test_02.jpg")
}

.member-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $color-secondary;
  height: 56vh;
  padding: 0 190px;
}

.member-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  &__image img {
    @include rounded-image;
  }
  &__name {

  }
  &__social-link a img {
    height: 50px;
  }
  &__quote {

  }
}

.destinations-banner { /// same as team-banner
  background: image-url('image.jpg') right top / cover; // works
  height: 25vh;
  &__title {
    text-align: center;
  }
  &__subtitle {
    margin: auto;
    background: rgba($color-secondary,.6);
    width: 60%;
    height: 25%;
  }
}

.trip-preview-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.comments {
  background: $color-secondary;
  height: 91vh;
  &__title {
    text-align: center;
    padding-top: 35px;
  }
  &__customer {
    display: flex;
    justify-content: space-around;
  }
}

.customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  margin: 45px;
  &__image img {
    @include rounded-image;
  }
  &__testimony-title {
    font-family: 'Anton', sans-serif;
  }
  &__testimony-text {
    width: 90%;
    font-size: 19px;
    text-align: center;
  }
  &__name {

  }
  &__testimony-date {

  }
}

/////////////////
/// TOUR PAGE ///
/////////////////
